body {
    padding: 0;
    margin: 0;

    font-family: "微软雅黑",Helvetica,Tahoma,Arial,sans-serif
}

/*top*/
*{margin:0;padding:0;list-style-type:none;}
a,img{border:0;}

.tab1{
    width:100%;
    height: 100%;
    /*border-bottom:#cccccc solid 1px;*/

}
.menu{
    height:30px;
    border-bottom:#C91E1E solid 2px;

}
.menu li{
    border-radius: 0px 5px 0 0px ;
    font-weight:bold;
    float:left;
    width:99px;
    text-align:center;
    line-height:30px;
    height:30px;cursor:pointer;
    border-left:#660725 solid 5px;
    color:#666;font-size:15px;
    overflow:hidden;background:#E0E2EB;
}
.menu li.off{
    background:#C91E1E;
    color:white;
    font-weight:bold;
}
.menudiv{
    height:100%;

    /*border-left:#cccccc solid 1px;*/
    /*border-right:#cccccc solid 1px;*/
    border-top:0;
    background:#660725
}
.menudiv div{
    padding:0px;
    line-height:30px;
}
#con_one_2{
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}



/*侧边栏*/

/*-------------------------------*/
/*           VARIABLES           */
/*-------------------------------*/
body {
    position: relative;
    overflow-x: hidden;
}
body,
html {
    height: 100%;
    background-color: #660725;
}
.nav .open > a {
    background-color: transparent;
}
.nav .open > a:hover {
    background-color: transparent;
}
.nav .open > a:focus {
    background-color: transparent;
}
/*-------------------------------*/
/*           Wrappers            */
/*-------------------------------*/
#wrapper {
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    padding-left: 0;
    transition: all 0.5s ease;
}
#wrapper.toggled {
    padding-left: 220px;
}
#wrapper.toggled #sidebar-wrapper {
    width: 220px;
}
#wrapper.toggled #page-content-wrapper {
    margin-right: -220px;
    position: absolute;
}
#sidebar-wrapper {
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    background: #1a1a1a;
    height: 100%;
    left: 220px;
    margin-left: -220px;
    overflow-x: hidden;
    overflow-y: auto;
    transition: all 0.5s ease;
    width: 0;
    z-index: 1000;
}
#sidebar-wrapper::-webkit-scrollbar {
    display: none;
}
#page-content-wrapper {
    padding-top: 70px;
    width: 100%;
}
/*-------------------------------*/
/*     Sidebar nav styles        */
/*-------------------------------*/
.sidebar-nav {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 220px;
}


.sidebar-nav > .sidebar-brand {
    font-size: 20px;
    height: 65px;
    line-height: 44px;
}
/*-------------------------------*/
/*       Hamburger-Cross         */
/*-------------------------------*/
.hamburger {
    background: transparent;
    border: none;
    display: block;
    height: 32px;
    margin-left: 15px;
    position: fixed;
    top: 20px;
    width: 32px;
    z-index: 999;
}
.hamburger:hover {
    outline: none;
}
.hamburger:focus {
    outline: none;
}
.hamburger:active {
    outline: none;
}
.hamburger.is-closed:before {
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transition: all 0.35s ease-in-out;
    color: #ffffff;
    content: '';
    display: block;
    font-size: 14px;
    line-height: 32px;
    opacity: 0;
    text-align: center;
    width: 100px;
}
.hamburger.is-closed:hover before {
    -webkit-transform: translate3d(-100px, 0, 0);
    -webkit-transition: all 0.35s ease-in-out;
    display: block;
    opacity: 1;
}
.hamburger.is-closed:hover .hamb-top {
    -webkit-transition: all 0.35s ease-in-out;
    top: 0;
}
.hamburger.is-closed:hover .hamb-bottom {
    -webkit-transition: all 0.35s ease-in-out;
    bottom: 0;
}
.hamburger.is-closed .hamb-top {
    -webkit-transition: all 0.35s ease-in-out;
    background-color: rgba(255, 255, 255, 0.7);
    top: 5px;
}
.hamburger.is-closed .hamb-middle {
    background-color: rgba(255, 255, 255, 0.7);
    margin-top: -2px;
    top: 50%;
}
.hamburger.is-closed .hamb-bottom {
    -webkit-transition: all 0.35s ease-in-out;
    background-color: rgba(255, 255, 255, 0.7);
    bottom: 5px;
}
.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom,
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
    height: 4px;
    left: 0;
    position: absolute;
    width: 100%;
}
.hamburger.is-open .hamb-top {
    -webkit-transform: rotate(45deg);
    -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08);
    background-color: #ffffff;
    margin-top: -2px;
    top: 50%;
}
.hamburger.is-open .hamb-middle {
    background-color: #ffffff;
    display: none;
}
.hamburger.is-open .hamb-bottom {
    -webkit-transform: rotate(-45deg);
    -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08);
    background-color: #ffffff;
    margin-top: -2px;
    top: 50%;
}
.hamburger.is-open:before {
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transition: all 0.35s ease-in-out;
    color: #ffffff;
    content: '';
    display: block;
    font-size: 14px;
    line-height: 32px;
    opacity: 0;
    text-align: center;
    width: 100px;
}
.hamburger.is-open:hover before {
    -webkit-transform: translate3d(-100px, 0, 0);
    -webkit-transition: all 0.35s ease-in-out;
    display: block;
    opacity: 1;
}
/*-------------------------------*/
/*          Dark Overlay         */
/*-------------------------------*/
.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
}
/* SOME DEMO STYLES - NOT REQUIRED */
body,
html {
    background-color: #660725;
}
.admin-ce-img{
    width: 80px;
    height: 80px;
    border-radius: 50px;

    background:url(../img/touxiang.gif) no-repeat center;
    background-size: 80px;
;
    margin: 0 auto;
    margin-top: 100px;
}
.sidebar-brand{
    text-align: center;
    margin-top: 20px;
    color: white;
    font-weight:bold ;
}
.admin-ce-button{
    text-align: center;
}
.admin-ce-button input{
    margin-top: 300px;
    text-align: center;
    width: 150px;
    height: 40px;
    border: none;
    color: white;
    font-weight: bold;
    background-color: #C91E1E;
    border-radius: 3px;
}

/*.article_check_box,div.article_delete,.article_main{*/
    /*margin-left: 0;*/
    /*margin-right: 0;*/
/*}*/


/*表*/
.center,.center-th{
    border: 1px solid white;
    border-collapse: collapse;
    text-align: center;
}

.center{
    white-space:nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
    text-overflow: ellipsis;

}
.center-th{
    border-left:none ;
    border-right:none ;
    background-color:#C91E1E ;
    color: white;
}
.table{
    table-layout:fixed;
    text-align: center;
    width: 100%;
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 3px;
    color: black;
    background-color: #E0E2EB;
}
.cat_add{
    padding-right: 5px;
    margin-top: 10px;

}
.container{
    padding-left: 0;
    padding-right: 0;
}
.article_delete{
    margin-left: 5px;
}

.admin-bu1{
    margin-right: 12px;
}
.admin-yihang{
    margin-bottom: 10px;
}
.admin-img{
    margin-top: 10px;
    width: 100%;
    height: auto;
}

/*遮罩层*/
@charset "utf-8";
/* CSS Document */
*{margin:0;padding:0;list-style-type:none;}
a,img{border:0;}
/*按钮样式*/

#goodcover {
    display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 133%;
    background-color: black;
    z-index: 1001;
    -moz-opacity: 0.8;
    opacity: 0.50;
    filter: alpha(opacity=80);
}
#code {
    width: 1000px;
    height: 500px;
    background-color: #fff;
    padding: 10px;
    position: absolute;
    display: none;
    left: 45%;
    z-index: 1002;
}
.close1 {
    width: 1020px;
    height: 20px;
}
#closebt {
    float: right;
}
#closebt img {
    width: 20px;
}
.goodtxt {
    text-align: center;
}
.goodtxt p {
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    color: #000;
    font-weight: 600;
}
.code-img {
    width: 250px;
    margin: 30px auto 0 auto;
    padding: 10px;
}
.code-img img {
    width: 240px;
}

/*遮罩层*/
@charset "utf-8";
/* CSS Document */
*{margin:0;padding:0;list-style-type:none;}
a,img{border:0;}
/*按钮样式*/

#goodcover2 {
    display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 133%;
    background-color: black;
    z-index: 1001;
    -moz-opacity: 0.8;
    opacity: 0.50;
    filter: alpha(opacity=80);
}
#code2 {
    width: 1000px;
    height: 500px;
    background-color: #fff;
    padding: 10px;
    position: absolute;
    display: none;
    left: 45%;
    z-index: 1002;
}

#closebt2 {
    float: right;
}
#closebt2 img {
    width: 20px;
}

/*遮罩层*/
@charset "utf-8";
/* CSS Document */
*{margin:0;padding:0;list-style-type:none;}
a,img{border:0;}
/*按钮样式*/

#goodcover3 {
    display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 133%;
    background-color: black;
    z-index: 1001;
    -moz-opacity: 0.8;
    opacity: 0.50;
    filter: alpha(opacity=80);
}
#code3 {
    width: 1000px;
    height: 500px;
    background-color: #fff;
    padding: 10px;
    position: absolute;
    display: none;
    left: 45%;
    z-index: 1002;
}

#closebt3 {
    float: right;
}
#closebt3 img {
    width: 20px;
}


