*{
    margin: 0;
    padding: 0;
}
#mv-info-div{
    width: 100%;
    height: 45px;
    background-color:#C91E1E;
    box-shadow: 2px 2px 2px -2px;
}
#mv-info-ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 112%;
    height: 100%;
}
#mv-info-ul li a{
    text-decoration:none;
    color: white;
}
#mv-info-li{
    font-size: 18px;
    text-align: center;
    width: 70px;
    height: 55px;
    background-color: cornflowerblue;
    padding: 0 10px 0 10px;
    margin: 0 0 50px -1000px;
    border-radius: 0 0 6px 6px;
}
#mv-info-li:hover{
    background-color: #5bc0de;
}
#mv-info-li>a>div{
    width: 50px;
    height: 15px;
}
.container-fluid{
    margin: 50px auto;
    width: 65%;
    height: 100%;
}
#zong-div{
    margin: 0 auto;

}


#mv-info-juqing{
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #dddddd;
    background-color: #f9f9f9;
    border-radius: 6px;
}
body{
    background: url(../img/info-background.jpg) no-repeat 75% fixed;
    height: 100%;
}
#add_fav{
    color: white;
}
.movie-title{
    color: black;
    font-size: 25px;
}
#movie-sc{
    width: 70px;
    height: 20px;
    cursor: pointer;
}
#movie-sc a img{
    margin-top: 6px;
    width: 25px;
    height: 25px;
}

#like{
    background-color: cornflowerblue;
    border-radius: 2px;
    padding: 2px;
    text-decoration:none;
    out-line: none;
    color: white;
    float: left;
}
#islike{
    background-color: cornflowerblue;
    border-radius: 2px;
    padding: 2px;
    text-decoration:none;
    out-line: none;
    color: white;
    float: left;
}

.table-info,.table-td1,.table-td2{
    border: 1px solid #dddddd;
}
.table-info{
    border-collapse: collapse;
    border-radius:2px;
    background-color: white;
}
/*.table-info{*/
/*width: 500px;*/
/*height: 400px;*/
/*}*/
.table-td2{
    width:400px ;
    height: 30px;
    color: black;
    padding-left: 5px;
    font-size: 15px;
    background-color: white;
}
.table-td1{
    width: 100px;
    height: 30px;
    color: dimgray;
    padding-left: 5px;
    font-size: 15px;
    background-color: white;
}
.row{
    background-color: white;

}
.container-fluid{
    height: 100%;
    margin-top: 20px;
    padding-top: 0px;
}
.table-tr{
    background-color: #f9f9f9;
}
