.col-md-3{
    margin-top: 8px;
    padding-right:5px;
    overflow-y:scroll;
    width:210px;
    height:460px;
    border: 1px solid #dddddd;
    border-radius: 2px;
}
iframe{
    border: none;
}
.play-ul{
    list-style: none;
}
.play-li{
    padding-bottom: 2px;
    padding-top: 2px;
    width: 100%;
    height: 130px;
}
.play-img{
    position: absolute;
    border-radius: 3px;
    margin: 2px 3px 5px 3px;
    width: 70px;
    height: 90px;
}
.play-p{

    float: left;
    /*background-color: #1E9FFF;*/
    color: black;
    font-weight: bold;
    /*border-radius: 2px;*/
    margin-left: 80px;
    margin-top: 2px;
    /*margin-bottom: 2px;*/
    /*padding: 2px 4px 4px 4px;*/
}
.play-p2{
    margin-bottom: 2px;
    font-weight:bold;
    float: left;
    margin-left: 80px;
}
.play-p3{
    background-color: green;
    color: white;
    border-radius: 2px;
    padding-left: 4px;
    padding-right: 4px;
    margin-top: 0;
    margin-bottom: 0;
    float: left;
    margin-left: 81px;
}
.play-png2{
    margin-left: 150px;
    float: left;
    width: 20px;
    height: 20px;
    margin-top: 10px;
}
.png{
    float: right;
    width: 20px;
    height: 20px;
}
h6{
    font-weight:bold;
    text-indent: 0.5em;
    font-family: "Arial Black";
    color:#5e5e5e;
}
hr{
    margin: 0;
    padding: 0;
}